<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Zing news</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/AddPost">Tài khoản</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Thông tin chi tiết</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Liên hệ</a>
        </li>
        <li class="nav-item">
          <a class="mx-2 btn btn-primary" href="/AddPost">Thêm bài viết</a>
        </li>

      </ul>
    </div>
  </div>
</nav>